/* Dropdown Button */
.dropbtn {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  color: black;
  border: none;
  cursor: pointer;
  width: 195px;
  height: 56px;
  top: 20px;
  left: 20px;
  padding: 17px 16px 17px 16px;
  gap: 63px;
  border-radius: 11px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 600;
}

.button-radius {
  border-radius: 11px 11px 0 0;
}


/* Champ de recherche */
#myInput {
  box-sizing: border-box;
  background-image: url('./images/search.png');
  background-position: right 10px center; /* Positionner l'image à droite */
  background-size: 20px 20px; /* Redimensionner l'image */
  background-repeat: no-repeat;
  font-size: 16px;
  border: 1px solid #C6C6C6;
  width: 90%;
  height: 36px;
  margin-left: 10px;
}

/* Champ de recherche lorsqu'il est focalisé/cliqué */
#myInput:focus {outline: 3px solid #ddd;}

/* Conteneur <div> - nécessaire pour positionner le contenu du menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Contenu du menu déroulant (caché par défaut) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 195px;
  height: 315px;
  border-radius: 0 0 11px 11px;
  z-index: 1;
  overflow: auto; /* Permet le défilement */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* Liens à l'intérieur du menu déroulant */
.dropdown-content a {
  color: #1B1B1B;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* couleur des liens du menu déroulant au survol */
.dropdown-content a:hover {
  background-color: #FFD15B;
  font-weight: 800;
}

/* Afficher le menu déroulant */
.show {
  display:block;
}

/* Changer l'icône au survol */
.dropdown-content a:hover .fa-times {
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.3s;
}
